<ul class="hierarchy-tr">
    <li class="hierarchy-dad" ng-repeat="subordinate in ctrl.subordinates">
        <span>
            <span ng-if="subordinate.subordinates.length > 0" class="toggle-btn"
                  ng-click="ctrl.toggleSubordinates(subordinate)">
                {{ subordinate.showSubordinates ? '▼ ' : '► ' }}
            </span>
            {{ subordinate.name }}
        </span>
        <div class="infos">
            <span class="score">
                {{ subordinate.score }}%
            </span>
            <span class="force-pass-level-{{subordinate.levelPass}} force-pass">
                {{ subordinate.forcePass }}
            </span>
            <span class="buttons">
                <i class="fa fa-edit edit-btn edit-btn" ng-click="ctrl.editColaborator(subordinate)" title="Editar"></i>
                <i class="fa fa-plus enable-subordinate-btn" ng-click="ctrl.enableSubordinate(subordinate)" title="Adicionar Subordinado"></i>
                <i class="fa fa-window-close-o delete-btn" ng-click="ctrl.deleteColaborator(subordinate)" title="Excluir"></i>
            </span>
        </div>
        <ul class="hierarchy-son" ng-if="subordinate.showSubordinates">
            <subordinates-app form-data="ctrl.formData" 
                show-lead-input="ctrl.showLeadInput"
                subordinates="subordinate.subordinates">
            </subordinates-app>
        </ul>
    </li>
</ul>