<div class="custom-form">
  <div class="form-input">
    <label for="name">Nome:</label>
    <input type="text" id="name" ng-model="ctrl.formData.name" required>
  </div>

  <div class="form-input">
    <label for="password">Senha:</label>
    <input type="text" id="password" ng-model="ctrl.formData.password" required>
  </div>

  <br>
  <div class="form-buttons">
    <button type="button" ng-click="generatedPassword()">Gerar Senha</button>
    <button type="submit" ng-click="ctrl.submitForm()">Salvar</button>
  </div>
</div>