input,
select {
    width: 200px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #23C4AC;
    background: #FFF;
    margin-top: -10px;
    color: #23c4ac;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s ease-in-out; 
}

select {
    width: 220px;
    height: 40px;
}

form {
    margin-top: 200px;
    display: flex;
    margin-top: 100px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

label {
    color: #FA8500;
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

input:hover,
select:hover {
    border-color: #FFA84D; 
}

input:focus,
select:focus {
    outline: none; 
    box-shadow: 0 0 5px rgba(35, 196, 172, 0.7); 
}

button {
    cursor: pointer;
    border-radius: 15px;
    background: #FA8500;
    width: 140px;
    height: 40px;
    color: #FFF5F5;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.button:hover {
    background: #FFA84D; /* Altere a cor para um tom ligeiramente diferente no hover */
}

.button:active {
    background: #D56E00; /* Altere a cor quando o botão está pressionado */
}

.form-buttons {
    text-align: center; /* Alinhe os botões ao centro */
    margin-top: 20px; /* Adicione algum espaçamento superior para separar dos campos do formulário */
}

/* Estilização específica para o botão 'Salvar' */
.button.save {
    margin-left: 10px; /* Adicione margem à esquerda para separar dos outros botões */
}

.custom-form{
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 30px;
}

.form-input{
    margin: 10px;
}