
.header-component{
    height: 70px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 105%;
    margin-left: -20px;
    border-radius: 10px;
}

.title-header{
    color: #23C4AC;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}