<table>
    <tbody>
        <tr class="hierarchy-tr" ng-repeat="employee in ctrl.employees">
            <td class="hierarchy-table">
                <div class="toggle-subordinate">
                    <subordinate-app employee="employee"></subordinate-app>
                </div>
                <span class="score">
                    {{ employee.score }}
                </span>
                <span class="force-pass-level-{{employee.level}} force-pass">
                    {{ employee.forcePass }}
                </span>
                <div class="buttons">
                    <i class="fa fa-edit edit-btn edit-btn " ng-click="ctrl.editEmployee(employee)" title="Editar"></i>
                    <i class="fa fa-window-close-o delete-btn" aria-hidden="true" ng-click="ctrl.deleteEmployee(employee)" title="Excluir"></i>
                </div>
            </td>
        </tr>
    </tbody>
</table>