.edit-btn,
.delete-btn,
.enable-subordinate-btn {
    cursor: pointer;
    font-size: 20px !important;
    margin-right: 5px;
    margin-left: 5px;
    transition: color 0.3s ease;  /* Adiciona uma transição de cor de 0.3 segundos */
}

.edit-btn:hover {
    color: #1E90FF; /* Cor desejada ao passar o mouse sobre o botão de edição */
}

.delete-btn:hover {
    color: #FF6347; /* Cor desejada ao passar o mouse sobre o botão de exclusão */
}

.enable-subordinate-btn:hover {
    color: #32CD32; /* Cor desejada ao passar o mouse sobre o botão de adicionar subordinado */
}

.force-pass-level-1,
.force-pass-level-2,
.force-pass-level-3,
.force-pass-level-4 {
    width: 85px;
    text-align: center;
    height: 21px;
    border-radius: 15px;
}

.force-pass-level-1 {
    background: #FF4747;
}

.force-pass-level-2 {
    background: #DED500;
}

.force-pass-level-3 {
    background: #6EFF3A;
}

.force-pass-level-4 {
    background: #03C622;
}


.score {
    border-radius: 15px;
    background-color: #FFF;
    width: 55px;
    text-align: center;
    height: 21px;
    color: #222222;
}

.hierarchy-tr {
    justify-content: space-around;
    align-items: center;
    display: grid;
    margin-top: 5px;
}

.hierarchy-dad {
    background: #222;
    border-radius: 20px;
    padding: 10px;
    min-width: 90vh;
    border-bottom: 1px solid;
}

.infos {
    display: flex;
    margin-left: 25%;
    margin-top: -20px;
    justify-content: space-around;
}


.toggle-btn {
    cursor: pointer;
}

ul {
    list-style: none;
    color: #F7F7F7;
}

.hierarchy-son{
    margin-left: -40px;
}

.hierarchy-tr li:hover {
    background-color: #00000054; /* Ajuste a opacidade conforme necessário */
    transition: background-color 0.3s ease;
}
