<ul class="hierarchy-tr">
    <li class="hierarchy-dad" ng-repeat="colaborator in ctrl.colaborators">
        <span>
            <span ng-if="colaborator.subordinates.length > 0" class="toggle-btn"
                  ng-click="ctrl.toggleSubordinates(colaborator)">
                {{ colaborator.showSubordinates ? '▼ ' : '► ' }}
            </span>
            {{ colaborator.name }}
        </span>
        <div class="infos">
            <span class="score">
                {{ colaborator.score }}
            </span>
            <span class="force-pass-level-{{colaborator.levelPass}} force-pass">
                {{ colaborator.forcePass }}
            </span>
            <span class="buttons">
                <i class="fa fa-edit edit-btn edit-btn" ng-click="ctrl.editColaborator(colaborator)" title="Editar"></i>
                <i class="fa fa-plus add-subordinate-btn" ng-click="ctrl.enableSubordinate(colaborator)" title="Adicionar Subordinado"></i>
                <i class="fa fa-window-close-o delete-btn" ng-click="ctrl.deleteColaborator(colaborator)" title="Excluir"></i>
            </span>
        </div>
        <ul class="hierarchy-son" ng-if="colaborator.showSubordinates">
            <list-colaborators-app form-data="ctrl.formData" colaborators="colaborator.subordinates">
            </list-colaborators-app>
        </ul>
    </li>
</ul>